@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

@font-face{
	font-family: Gothic;
	src : url(../fonts/GOTHIC.TTF);
}
@font-face{
	font-family: SourceSansPro;
	src : url(../fonts/SourceSansPro-Regular.otf);
}
.logo {
	float: left;
	height: 65px;
}
.topnav {
	margin: 0;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #3e3e3e;
}
.topnav li {
	font-family: Gothic;
	font-size: 10pt;
}
.topnav li a{
	display: block;
	color: white;
	text-align: center;
	height: 100%;
	padding: 28px 32px;
	text-decoration: none;
	transition:.3s;
}
.topnav li a:hover:not(.active){
	background-color: #242424;
}
.topnav .active{
	color: #2f2f2f;
	background-color: #ffce22;
}

/* Dropdown link */
#navbardrop{
	padding-left: 30px;
	padding-right: 20px;
}

/* Dropdown menu */
#profile-submenu{
	background-color: #3e3e3e;
	padding: 0px;
	transition:.3s;
}

#profile-submenu > a{
	padding: 10px;
}

#profile-submenu > a:hover{
	background-color: #d8b128;
	color: white;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.bodybg{
	background-color: #2f2f2f;
}

.home{
	padding-top: 75px;
	padding-bottom: 75px;
	font-family: SourceSansPro;
	text-align: center;
}
.home h1{
	color: #ffce22;
	font-size: 60pt;
	margin-bottom: 0px;
}
.home p{
	color: white;
	font-size: 12pt;
}

.article-item{
	background-color: rgba(255, 206, 34, 0.7);
	padding: 125px;
	font-size: 30pt;
	color: white;
}

.center-cropped {
	background-position: center center;
	background-repeat: no-repeat;
}

.login {
	padding-top: 100px;
	margin-left:15%;
	font-family: SourceSansPro;
	color: #2f2f2f;
}
.login h1 {
	margin-left: -10%;
	font-size: 24pt;
}
.login form {
	font-size: 10pt;
}
.login form label {
	margin-top: 20px;
	margin-left: 0px;
}
.login button {
	margin-top: 20px;
	margin-left: 0px;
	font-size: 10pt;
	background-color: #2f2f2f;
	color: #ffce22;
	border: none;
	padding: 10px 20px;
}

.show {
    display: block;
}

.footer {
	position: relative;
	bottom: 0px;
	height: 40px;
	margin: 50px 50px 0 50px;
	color: #777;
	background-color:transparent;
	border-top: solid 2px #FFD51E;
	font-style: italic;
	text-align: center;
}

.footer p {
	text-align: center;
	font-size: 12px;
	line-height: 40px;
}

/* ==================== Profile Page ==================== */

/* --- Navbar ---*/
#profile-picture{
	padding: 13px;
}

#profile-picture img{
	height: 50px;
}

/* --- Content ---*/

#profile-content{
	padding-left: 50px;
	height: 100%;
}

#profile-content p{
	font-size: 14pt;
}

/* Newsfeed */
.title{
	color: #ffce22;
}

.title p{
	color: white;
}

/* -> Search */
.search-containter{
	background-color: #3e3e3e;
	text-align: center;
	padding: 5px;
}

#custom-search-input {
    margin:0;
    margin-top: 0px;
    padding: 5px;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin: 4px 4px 0 0;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#d8b128;
    cursor: unset;
    z-index: 2;
}
 
.search-query:focus{
	z-index: 0;
	outline: 0 none !important;
	border: 1px solid #d8b128 !important;
	/* outline-color: #d8b128 !important; */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 206, 34, 0.7) !important;
}

/* Newsfeed  */
#newsfeed-content{
	background-color: #ffce22;
}

#newsfeed-list{
	background-color: #d8b128;
}

.news-item{
	padding:20px;
	color:white;
}

.news-item > h2{
	font-size: 36pt;
	margin-bottom: 0;
}

.news-item > h2 > a{
	color: white;
} 

.news-item > h2 > a:hover{
	color: white;
	text-decoration: white;
}
.image-content{
	text-align: center;
}

.image-content img{
	width: 95%;
}

.readmore-button{
	background:  #2f2f2f;
	padding: 7px;
	border-radius: 5px;
	color: white;
	transition: 0.1s;
}

.readmore-button:hover{
	background: #3e3e3e;
	color: white;
	text-decoration: none;
}

.readmore-button:active{
	transform: scale(0.975);
}


/* ===================== Forum ====================  */
.forum-list{
	background-color: #FFD51E;
	min-height: 600px;
}

.forum-item:hover{
	background-color: orangered;
}

.forum-list > div{
	padding: 0 5%;
}

.forum-list a:hover{
	text-decoration: none;
}

.header-container{
	background-color: #3e3e3e;
}

.header-container div{
	padding: 25px;
	color: white;
	font-weight: bold;
}

.forum-item{
	padding: 20px 5%;
	background-color: #d8b128;
	margin-bottom: 2px;
	color: white;
	transition:.3s;
}

.forum-title{
	padding-left: 0;
}
.date{
	font-weight: bold;
	margin-right: 20px;
}

.time{
	font-weight: bold;
}

.btn-group-sm .btn-fab{
	position: fixed !important;
	right: 29px;
}
.btn-group .btn-fab{
	position: fixed !important;
	right: 20px;
}
#main{
	bottom: 20px;
}

/* ===================== Dashboard ====================  */
.profile-tab{
	margin-top: 40px;
}

.profile-tab a{
	padding: 10px 100px;
	font-weight: bold;
	background-color: #FFD51E;
	color: #242424;
	border-radius: 5px;
}

.profile-tab a:hover{
	text-decoration: none;
}

.profile-list{
	background-color: #FFD51E;
	padding: 25px 0;
	min-height: 600px;
}

.profile-item{
	color: #212529;
	transition:.3s;
}

.profile-item:hover{
	background-color: #2f2f2f;
	color: white;
	border-radius: 20px;
}

.profile-item:active{
	transform: scale(0.95);
}

.profile-image{
	padding: 15px 30px 5px 30px;
}

.profile-image > img{
	max-width: 100%;
}

.profile-name{
	margin-bottom: 0;
}

/* =============== News ==================== */
.content-separator{
	background-color: #3e3e3e;
	height: 50px;
	color: white;
}

.content-separator > div{
	height: 100%;
	/* vertical-align: middle;s */
}

.content-separator > div > div{
	padding: 10px 0;
}

.content-separator a{
	color: white;
}

.content-separator a:hover{
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;	
}
.news-more{
	padding: 20px;
	color:  white;
}

.news-more-item{
	color: white;
	transition:.3s;
}

.news-more-item:hover{
	color: white;
	text-decoration: none;
	border-radius: 20px;
	background-color: #2f2f2f;
}

.news-more-item img{
	max-height: 200px;
}

.news-more-item h4{
	margin: 0;
}

/* ====================== SubForum ====================== */
#forum-content{
	background-color: #ffce22;
}

#forum-content > div {
	margin-top: 0;
	padding: 20px;
}

.post-item{
	margin: 20px 0;
	background-color: #d8b128;
	color: white;
	padding: 20px;
}

#first-post{
	margin-top: 0;
}

#user-photo > img{
	width: 100%;
	height: 100%;
}

.reply-button{
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	color: white;
	transition: 0.3s;

}

.reply-button:hover{
	background-color: #212529;
}

.reply-button > a{
	color: white;
}

.reply-button:hover > a{
	color: white;
	text-decoration: none;
}

.pagination-container > label{
	font-weight: bold;
}

.pagination-container > nav > ul{
	float: right;
}

.page-link{
	background-color: rgba(255, 206, 34, 0) !important;
	border-radius: 50px !important;
	border: 0 solid !important;
	color: #212529 !important;
	margin: 5px;
	font-weight: bold !important;
	transition: 0.3s;
}

.active > .page-link{
	background-color: #d8b128 !important;
}

.page-link:hover{
	background-color: #d8b128 !important;
}

.page-link:active, .page-link:focus{
	background: #d8b128 !important;
	box-shadow: 0px 0px 2px #212529 !important;
}